.git
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
.env
runs/
weights/
*.pt
*.pth
*.onnx
*.engine
*.torchscript
datasets/raw/
datasets/processed/
datasets/open_images_weapons/
datasets/coco128/
.ipynb_checkpoints/
Sentinex_Max_Training.ipynb
